[defaults]
inventory = ./inventory
filter_plugins = filter_plugins

[galaxy]
server_list = automation_hub, galaxy


[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/
username=fzhang@redhat.com
password=Foxconn88!@#$


[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
token=a277c58d251fed0022bc1d2aa4d1b6d01a90e4f6
